@page "/data-sistema"
@inject DadosCarteira dados

<PageTitle>Data e hora</PageTitle>
<TopBar titulo="Data e Hora"/>

<div class="container">

    
</div>

@code {

    /*
     * DESENVOLVER PAG DE ALTERAÇÃO DE DATA DO SISTEMA
     * 
     * 
     */
}

