@page "/"
@inject DadosCarteira dados
@inject NavigationManager nav

<PageTitle>Carteira</PageTitle>
<TopBar titulo="Cadastre sua conta"/>

<div class="container mx-auto">
    <div class="form">

        <div class="nome">
            <label>Nome do proprietário</label>
            <input type="text" @bind=nomeDono>
        </div>

        <div class="cpf">
            <label>CPF do proprietário</label>
            <input type="text" @bind=cpfDono>
        </div>

        <div class="deposito-inicial">
            <label>Depósito inicial</label>
            <input type="number" @bind=depositoValor>
        </div>
    
        <button id="btn-cadastro" class="btn btn-primary" @onclick="CriarConta">Cadastrar</button>
        <button id="btn-contas" class="btn btn-primary" @onclick='() => nav.NavigateTo("/contas")'>Contas</button>

        @if(erro != true) {
            <p style="color: black">@response</p>
        } else {
            <p style="color: red">@response</p>
        }
        
    </div>

</div>

@code {
    private string nomeDono;
    private string cpfDono;
    private double depositoValor;
    private int numeroConta;
    private string response = "";

    public bool erro = false;

    /*
     *
     * Cria a conta da carteira digital. 
     * 
     * @return string response
     * 
     */
    private void CriarConta()
    {

        Carteira novaConta = new Carteira();

        numeroConta = dados.ListaDados.Count+1;

        novaConta.Dono = nomeDono;
        novaConta.CPF = cpfDono;
        novaConta.Numero = numeroConta;
        novaConta.Limite = depositoValor * 0.1;

        if(depositoValor > 0 && novaConta.CPF.Length == 11)
        {
            bool depositoInicial = novaConta.Depositar(depositoValor); 

            if (depositoInicial)
            {
                dados.ListaDados.Add(novaConta);
                
                Console.WriteLine($"Nome: " + dados.ListaDados[numeroConta - 1].Dono);
                Console.WriteLine($"Numero: " + dados.ListaDados[numeroConta - 1].Numero);
                Console.WriteLine($"Saldo: " + dados.ListaDados[numeroConta - 1].Saldo);
                Console.WriteLine($"Limite: "+dados.ListaDados[numeroConta - 1].Limite);
                Console.WriteLine($"CPF: " + dados.ListaDados[numeroConta - 1].CPF);

                response = $"Conta criada com sucesso (Numero: {numeroConta}; Nome: {nomeDono}; Saldo: {depositoValor})";

                nomeDono = "";
                depositoValor = 0;
            }
        } 
        else
        {
            erro = true;
            response = $"Falha ao criar conta digital. Verifique as informações novamente.";    
        }

    }
}

<style>
    .form{
        margin-top:5rem;
    }
    #btn-cadastro, #btn-contas {
        margin: 2rem 0;
        border-top: 0;
        border-right: 0;
        border-radius: 6px;
    }
    input, label{
        display: block;
    }
</style>
