@page "/"
@inject DadosCarteira dados
@inject NavigationManager nav

<PageTitle>Carteira</PageTitle>
<TopBar titulo="Cadastre sua conta"/>

<div class="container">

    <div class="criar-conta mx-auto">

        <div class="col-12">
            <label>Nome</label>
            <input type="text" @bind=nomeDono>
        </div>

        <div class="col-12">
            <label>CPF</label>
            <input type="text" @bind=cpfDono>
        </div>

        <div class="col-12">
            <label>Depósito</label>
            <input type="number" min="0" @bind=depositoValor>
        </div>

        <button id="btn-cadastro" class="btn btn-primary" @onclick="CriarConta">Cadastrar</button>
        <br>

        @if(erro != true) {
            <p style="color: green">@response</p>
        } else {
            <p style="color: red">@response</p>
        }
        
    </div>

    <div class="acessar-contas">
        <button id="btn-contas" class="btn btn-primary" @onclick='() => nav.NavigateTo("/contas")'>Acessar Contas</button>
    </div>

    <div class="data-hora">
        <button id="btn-datahora" class="btn btn-primary" @onclick='() => nav.NavigateTo("/data-sistema")'>Alterar Data</button>
    </div>

</div>

@code {
    private string nomeDono;
    private string cpfDono;
    private double depositoValor;
    private int numeroConta;
    private string response = "";
    public bool erro = false;

     /*
     *
     * Cria a conta da carteira digital. 
     * 
     * @return string response
     * 
    */
    private void CriarConta()
    {

        Carteira novaConta = new Carteira();

        numeroConta = dados.ListaDados.Count+1;

        novaConta.Dono = nomeDono;
        novaConta.CPF = cpfDono;
        novaConta.Numero = numeroConta;
        novaConta.Limite = depositoValor * 0.1;

        if(depositoValor > 0 && novaConta.CPF.Length == 11)
        {

            bool depositoInicial = novaConta.Depositar(depositoValor); 

            if (depositoInicial)
            {
                novaConta.CobrarTarifa(dados.DataSistema);
                dados.ListaDados.Add(novaConta);
                
                Console.WriteLine($"Nome: " + dados.ListaDados[numeroConta - 1].Dono);
                Console.WriteLine($"Numero: " + dados.ListaDados[numeroConta - 1].Numero);
                Console.WriteLine($"Saldo: " + dados.ListaDados[numeroConta - 1].Saldo);
                Console.WriteLine($"Limite: "+dados.ListaDados[numeroConta - 1].Limite);
                Console.WriteLine($"CPF: " + dados.ListaDados[numeroConta - 1].CPF);

                response = $"Conta criada com sucesso (Numero: {numeroConta}; Nome: {nomeDono}; Saldo: {depositoValor})";

                nomeDono = "";
                depositoValor = 0;
            }
        } 
        else
        {
            erro = true;
            response = $"Falha ao criar conta digital. Verifique as informações novamente.";    
        }

    }
}

<style>
    button {
        margin-top: 1.5rem;
        border-top: 0;
        border-right: 0;
        border-radius: 6px;
        width: 75%;
    }
    input, label{
        display: block;
    }
    .criar-conta, .acessar-contas, .data-hora {
        margin-bottom: 2rem;
    }
</style>
