@page "/painel/{conta}"
@inject DadosCarteira dados;
@inject NavigationManager nav

<TopBar titulo="Painel" />

<div class="container">

@if(carteira is not null)
{
    
        <h1>Bem vindo, @carteira.Dono !</h1>
        <div class="div-saldo">
            <p><strong>Saldo: </strong>@carteira.Saldo.ToString("C")</p>
        </div>

        <div class="painel">

            <div class="row">
                <div class="col-4">
                    <a @onclick="() => escolhaOperacao(1)"><img class="icon" src="img/transaction.png" data-bs-toggle="modal" data-bs-target="#modalTransf"/></a>
                    <p>Transferir</p>
                </div>

                <div class="col-4">
                    <a @onclick="() => escolhaOperacao(2)"><img class="icon" src="img/deposit.png" /></a>
                    <p>Depositar</p>
                </div>

                <div class="col-4">
                    <a @onclick="() => escolhaOperacao(3)"><img class="icon" src="img/withdraw.png" /></a>
                    <p>Sacar</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <a @onclick='() => nav.NavigateTo("/dados/"+carteira.Numero)'><img class="icon" src="img/user.png" /></a>
                    <p>Dados</p>
                </div>
            </div>
            
        </div>

        switch (@operacao)
        {
            case 1:
                <Transferencia Conta=@carteira/>
                break;

            case 2:
                <Deposito Conta="@carteira"/>
                break;
            
            case 3:
                <Saque Conta="@carteira"/>
                break;

        }


    
} 
else
{
    <strong><p style="color: red">ERRO! Conta não encontrada!</p></strong>
}

</div>

@code {
    [Parameter]
    public string? conta { get; set; }
    private int operacao = 0;
    private Carteira? carteira = null;


    //Ao Incializar a Pagina(Tela- Interface Grafica)
    protected override void OnInitialized()
    {
        carteira = this.dados.ListaDados.FirstOrDefault(c => c.Numero.ToString() == conta);
    }

    public void escolhaOperacao(int op)
    {
        this.operacao = op;
    }
}

<style>
    .container{
        padding-top: 5rem!important;
    }

    .icon {
        width: 100%;
        background: #f1f1f1;
        border: solid #e7e7e7;
        border-radius: 20px;
        padding: 8px;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }

    .icon:after {
        content: "";
        background: #90EE90;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .icon:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }

    .painel > p {
        text-align: center;
    }

    .container .row > div {
        text-align: center;
    }

    h1, .div-saldo {
        margin-top: 1rem;
    }

    .response-success > p{
        text-align: center;
        margin-bottom: 0;
    }
</style>