@inject DadosCarteira dados

<div id="tabSaque">

    <div class="form-cotrol">
        <label>Valor</label>
        <input type="number" @bind=valorSaque>
    </div>

    <button @onclick=Sacar>Sacar</button>

    @if (saque == true)
    {
        <div class="response-success">
            <strong><p style="color: green">Saque realizado com sucesso!</p></strong>
            <p>Valor: @valorSaque.ToString("C")</p>
            <p>Data: @dados.DataSistema.ToLongTimeString()</p>
        </div>
    } else
    {
        <p class="msg-erro">@response</p>
    }
</div>

@code {
    [Parameter]
    public Carteira Conta { get; set; }
    bool? saque = null;
    double valorSaque;
    string response = "";

    public void Sacar()
    {

        bool horario = dados.VerificaHorario();

        if (horario)
        {

            if(valorSaque > 0)
            {

                bool saqueCarteira = Conta.Sacar(valorSaque);
                saque = true;

            }
            else
            {
                response = "Valor do saque deve ser maior do que R$0,00";
                saque = false;
            }
        } 
        else
        {
            response = "Saque e depósito só são possíveis entre 08:00 e 18:00 horas.";
        }

    }
}

<style>

    input, label {
        display: block;
        margin-top: 1rem;
    }

    button {
        margin-top: 2rem;
    }
</style>