@inject DadosCarteira dados

<div id="tabTransf">

    <div class="form-cotrol">
        <label>Num. da conta</label>
        <input type="number" @bind=numeroConta>

        <label>Valor</label>
        <input type="number" @bind=valorTransferencia>

        @if(confirmaCPF == true)
        {
            <label>3 primeiro dígitos CPF</label>
            <input type="text" @bind=digitosCPF>
        }

    </div>

    <button @onclick=Transferir>Transferir</button>

    @if (transferencia == true)
    {
        <div>
            <strong><p style="color: green">Transferência realizada com sucesso!</p></strong>
            <strong><p>Número conta destino: @numeroConta</p></strong>
            <p>Valor: @valorTransferencia.ToString("C")</p>
            <p>Data: @dados.DataSistema.ToLongTimeString()</p>
        </div>
    } else if(transferencia == false){

        <p class="msg-erro">@response</p>

    }

</div>

@code {
    [Parameter]
    public Carteira Conta { get; set; }
    double valorTransferencia;
    double valorTransferivel;
    bool? transferencia = null;
    bool? confirmaCPF = null;
    string digitosCPF;
    int numeroConta;
    string response = "";

    /*
    * 
    * Realiza a chamada da função de transferência para a conta acessada.
    * 
    */
    public void Transferir()
    {
        Carteira Destino = dados.ListaDados.FirstOrDefault(c => c.Numero.ToString() == numeroConta.ToString());

        if(Destino is not null)
        {
            if(valorTransferencia > 1000)
            {
                confirmaCPF = true;

                if (digitosCPF == Conta.CPF.Substring(0, 3))
                {
                    transferencia = Conta.Transferir(Destino, Math.Round(valorTransferencia, 2));
                    
                    if(transferencia == false)
                    {
                        response = "Saldo insuficiente.";
                    }

                } else
                {
                    response = "Confirme os 3 primeiros dígitos do seu CPF para continuar com a transação.";
                    transferencia = false;
                }
            } 
            else
            {
                confirmaCPF = false;
                transferencia = Conta.Transferir(Destino, Math.Round(valorTransferencia, 2)); 

                if(transferencia == false)
                {
                    response = "Saldo insuficiente.";
                }

            }

        } 
        else
        {
            response = "Erro ao realizar transferência.";
            transferencia = false;
        }

    }
}

<style>
    input, label {
        display: block;
        margin-top: 1rem;
    }
    button {
        margin-top: 2rem;
    }
</style>